<div style="position:center">
<h1 style='position:center'><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>
</div>
<img src="https://media.giphy.com/media/yu5btCD90bRZu/giphy.gif" style='position:fixed;bottom:10px;left:30px' width="250" height="300" frameBorder="0" allowFullScreen></img></a>
<img src="https://media.giphy.com/media/xUPGcv7WfvxQ38YXXa/giphy.gif" style='position:fixed;bottom:10px;right:30px' width="250" height="300" frameBorder="0" allowFullScreen></img></a>

<!-- <h2><%= @game.player_2.name %>: <%= @game.player_2.hitpoints %>HP</h2> -->
<form action="/attacked">
<input type="submit" value="Attack!" style="font-size:20px">
<div style="position:fixed;top:30px;left:30px">
    <h1>warrior 1</h1>
    <p><%= @game.player_1.name %> : <%= @game.player_1.hitpoints %> HP</p>
</div>

<div style="position:fixed;top:30px;right:30px">
    <h1>warrior 2</h1>
    <p><%= @game.player_2.name %> : <%= @game.player_2.hitpoints %> HP</p>
</div>


<style>
h1 {
    text-align: center;
}

input {
    position: relative;
    top: 70px;
    left: 20px;
    height:50px;
    width:100px;
    background: #ff0000
}
</style>
